<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ¿Quien soy?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card>

  <img src="assets/YoYAna.PNG" alt="Este soy yo">

  <ion-card-header>
    <ion-card-title>Rene Osvaldo Mendez Reyes</ion-card-title>
    <ion-card-subtitle>Desarrollador de Apps</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Estudiante de ingenieria informatica  del TecNm Campus Region Sierra.
    8vo semestre, con experiencia en desarrollo de aplicaciones moviles, web y de escritorio.
    Conocimientos en Java, Python, C#, JavaScript, HTML, CSS, SQL, entre otros.
    Apasionado por la tecnologia y el desarrollo de software, siempre buscando aprender nuevas
  </ion-card-content>
</ion-card>
</ion-content>
